ID=no
DATABASE=postgresql://user:pass@location
REDIRECT=http://location/callback
SECRET=no
SLACKURL=https://hooks.slack.com/services/stuff
BIND=0.0.0.0:80
FINALREDIRECT=http://location/resume
REDIRECTERR=http://location/register.html
