THE_JOLLY_ADVISOR_DATABASE_USERNAME=USER
THE_JOLLY_ADVISOR_DATABASE_PASSWORD=PASSWORD
THE_JOLLY_ADVISOR_DATABASE_HOST=jollypostgres
THE_JOLLY_ADVISOR_DATABASE_PORT=5432
RAILS_ENV=production
SECRET_KEY_BASE=SUPERDUPERSECRET
RAILS_SERVE_STATIC_FILES=true
